body {
    background-color: #101010;
    color: #dddddd;
    font-family: 'Play', sans-serif;
}
.department {
    color: #B8B9BC;
    font-size: 56px;
    display: none;
    position: relative;
    text-align:center;
    margin:10px;
}
.header {
    font-weight: bold;
    text-align: center;
    font-size: medium;
    margin:auto;
}
.headerRed {
    background-color: #A81E22;
    color:#B8B9BC;
}
.headerBlue {
    background-color: #0c377c;
    color:#B8B9BC;
}
.headerGrey {
    background-color: #B8B9BC;
    color:#0E0D23;
}
.mobileIC {
    display: block;
}
.desktopIC {
    display: none;
}
.mainLogo {
    height: 50%;
    width: 50%;
    padding:1%;
    display: block;
    position: relative;
    text-align:center;
    margin: 10% 0% 5% 0%;
/*    margin:auto;*/
}
.clock {
    top: 15px;
    color: #B8B9BC;
    display: none;
    position: relative;
    text-align:center;
    margin:10px auto 15px auto;
}
.stationHeader {
    display: none;
}
.boxHeading {
    font-size: 24px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: inherit;
}
.stationName {
    text-align: left;
    color:#B8B9BC;
    font-size: small;
}
.stationNameOD {
    background-color: #B8B9BC;
    color: #101010;
}
.shiftName {
    text-align: left;
    color:#B8B9BC;
    font-size: small;
}
.shiftNameOD {
    background-color: #B8B9BC;
    color: #101010;
}
.Position {
    font-weight:normal;
    text-align: left;
    color: #B8B9BC;
    font-size: x-small;
}
.PositionOD {
    background-color: #B8B9BC;
    color: #101010;
}
.TitleDC {
    font-weight: bold;
    text-align: center;
    color: #A81E22;
    font-size: medium;
    margin-top: 25%;
    margin-left: 25%;
}
.Title {
    font-weight:normal;
    text-align: right;
    color: #B8B9BC;
    font-size: small;
}
.Name {
  font-weight:normal;
  text-align: center;
  color: #B8B9BC;
  font-size: small;
}
.NameOD {
    background-color: #B8B9BC;
    color: #101010;
}
.NameDC {
  font-weight:normal;
  text-align: center;
  color: #B8B9BC;
  font-size: small;
  margin-left: 25%
}
.Rank {
  font-weight:normal;
    text-align: right;
    color: #B8B9BC;
    font-size: x-small;
}
.RankOD {
    background-color:#B8B9BC;
    color: #101010;
}
.eventTitle {
    text-align: left;
    background-color:#B8B9BC;
    color: #101010;
    font-size: small;
}
.eventTime {
  font-weight:normal;
    text-align: right;
    color: #B8B9BC;
    font-size: small;
}
.eventTimeOD {
    color: #101010;
}
.eventLabel {
    color: #A81E22;
}

.eventDesc {
  font-weight:normal;
    text-align: left;
    color: #B8B9BC;
    font-size: small;
}
.eventDescOD {
    color: #101010;
}

.announcements {
    width: 100%;
    display: block;
    position: relative;
    min-height: 50%;
    padding-right: 2px;
    padding-left: 2px;
    box-sizing: border-box;
    font-size:large;
    color:#B8B9BC;
    margin:30px auto 30px auto;
}

.onDutyBlock {
    width: 100%;
    display: block;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    margin: 15px 0px 0px 0px;
}

.container-fluid {
    height: 650px;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 4px;
}

.tbody {
    height:325px;
}
.scheduleRowTop {
    line-height: 1.5;
    vertical-align: middle;
    background-color: #1c1919;
    border-top: 1px solid #B8B9BC;
    border-bottom: 0px solid #B8B9BC;
    padding: 3px;
}
.scheduleRowBottom {
    line-height: 1.5;
    vertical-align: middle;
    background-color: #1c1919;
    border-top: 0px solid #B8B9BC;
    border-bottom: 1px solid #B8B9BC;
    padding: 3px;
}
.scheduleRow {
    line-height: 1.75;
    vertical-align: middle;
    background-color: #1c1919;
    border-top: 1px solid #B8B9BC;
    border-bottom: 1px solid #B8B9BC;
    padding: 3px;
}
.scheduleRowTopOD {
    line-height: 1.5;
    vertical-align: middle;
    background-color: #B8B9BC;
    border-top: 1px solid #101010;
    border-bottom: 0px solid #101010;
    padding: 3px;
}
.scheduleRowBottomOD {
    line-height: 1.5;
    vertical-align: middle;
    background-color: #97999f;
    border-top: 0px solid #101010;
    border-bottom: 1px solid #101010;
    padding: 3px;
}
.scheduleRowOD {
    line-height: 1.75;
    vertical-align: middle;
    background-color: #B8B9BC;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;
    padding: 3px;
}
.scheduleRowGray {
  background-color: #B8B9BC;
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010;
}
.blueBreak {
    border-top: 8px solid #0c377c;
}
.redBreak {
    border-top: 10px solid #A81E22;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    line-height: 1.75;
    vertical-align: middle;
}
.etable > tbody > tr > td, .etable > tbody > tr > th, .etable > tfoot > tr > td, .etable > tfoot > tr > th, .etable > thead > tr > td, .etable > thead > tr > th {
    line-height: 1.75;
    vertical-align: middle;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 640px) {
  .mainLogo {
      height: 50%;
      width: 50%;
      margin-left: 50%;
    }
   .clock {
     margin-left: 25%;
       display: block;
   }
   .header {
      font-size: large;
   }
   .stationName {
       font-size: medium;
    }
   .shiftName {
       font-size: medium;
    }
   .Position, .eventTitle {
       font-size: medium;
   }
   .Title {
       font-size: medium;
   }
   .Name {
       font-size: large;
   }
   .NameDC {
       font-size: medium;
       margin-left: 25%;
   }
   .TitleDC {
       font-size: x-large;
       margin-top: 5%;
       margin-left: 25%;
   }
   .Rank, .eventTime {
       font-size: medium;
   }
   .eventDesc {
       font-size: medium;
   }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .clock {
      display: none;
  }
  .mainLogo {
    height: 100%;
    width: 100%;
    margin: 10% 25% 5% 15%;
  }
   .stationHeader {
       display: block;
   }
   .mobileIC {
       display: none;
   }
   .desktopIC {
       display: block;
   }
   .header {
      font-size: large;
   }
   .stationName {
       font-size: large;
    }
   .shiftName {
       font-size: large;
    }
   .Position, .eventTitle {
       font-size: medium;
   }
   .Title {
       font-size: large;
   }
   .Name {
       font-size: large;
   }
   .NameDC {
       font-size: medium;
       margin-left: 25%;
   }
   .TitleDC {
       font-size: large;
       margin-top: 25%;
       margin-left: 25%;
   }
   .Rank, .eventTime {
       font-size: medium;
   }
   .eventDesc {
       font-size: medium;
   }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .clock {
     margin-left: 0%;
     display: block;
   }
   .mainLogo {
     height: 100%;
     width: 100%;
     margin: 10% 25% 5% 25%;
   }
   .header {
      font-size: x-large;
   }
   .stationName {
       font-size: large;
    }
   .shiftName {
       font-size: large;
    }
   .Position, .eventTitle {
       font-size: large;
   }
   .Title {
       font-size: large;
   }
   .Name {
       font-size: large;
   }
   .NameDC {
       font-size: x-large;
       margin-left: 0%;
   }
   .TitleDC {
       font-size: x-large;
       margin-top: 5%;
       margin-left: 0%;
   }
   .Rank, .eventTime {
       font-size: large;
   }
   .eventDesc {
       font-size: large;
   }
}
